---
---
{% include css/bootstrap.min.css %}

body {
  color:#6f6f6f;
  margin: 0 20px 20px 0;
  font: 18px "Open Sans", 'Helvetica Neue', Arial, sans-serif;
  line-height: 27px;
  font-weight: 300;
}

a {
	color: #0b8da1;
	text-decoration: none;
	font-weight: 400;
}

a:hover {
	color: #137291;
	text-decoration: underline;
	
}

.main-sidebar {
  position: fixed;
  width: 230px;
  margin-left: 30px;
  font-size: 14px;
}

.profile-pic {
	position:relative;
    width: 100%;
    max-width: 140px;
	margin: 10 10 10 10px;
	border-radius: 100%; 	
}

a:hover img.profile-pic{ 
	-moz-box-shadow: 1px 1px 5px #999; 
	-webkit-box-shadow: 1px 1px 5px #999; 
	box-shadow: 1px 1px 5px #999; 
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight: 300;
  line-height: 55px;
}

h2 {
  color: #6B6B6B;
  font-weight: 400;
  margin: 30px 0 10px 0;
}

h3 {
  color: #6B6B6B;
  font-family: "Open Sans", 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin: 20px 0 10px 0;
}


h4 {
  color: #6B6B6B;
  font-family: "Open Sans", 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  margin: 15px 0 15px 0;
}

.site-name {
  font-family: 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  color:#0b8da1;
  margin: 10px 0 5px 0px;
}

.site-name:hover {
  text-decoration: none;
  color:#137291;
 
}

.subtitle {
  font-size: 18px;
  color: #7f7f7f;
  line-height: 20px;
}

.byline {
  font-size: 12px;
  color:#bfbfbf;
}

.main-container {
  max-width: 850px;
  margin:40px 50px 0 375px;
}

.main-sidebar-hr {
  margin: 15px 0;
}

/*************/
/*   Pages   */
/*************/

.pages {
  max-width: 800px;
  font-family: "Open Sans", 'Helvetica Neue', Arial, sans-serif;
}

.page-description-title {
  font-size: 54px;
  text-align: center;
  max-width: 800px;
}

.pages li {
  margin-bottom: 20px;
 	
}

a.pages {
	font-size: 28px;
}



/*************/
/**  Posts  **/
/*************/

.posts {
  max-width: 800px;
}

.posts li {
  margin-bottom:30px;
}

.posts img {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
}
  	
.post-description {
  text-align: left;
  margin-top: 20px;
}

.post-description-title {
  font-size: 54px;
  text-align: center;
  font-family: "Open Sans", 'Helvetica Neue', Arial, sans-serif;
}

.post-description-date {
  color: #a3a3a3;
  text-align: center;
}

.post-description-link {
  color: #0b8da1;
}


/*************/
/* Paginator */
/*************/
.paginator {
  width:100%;
  max-width: 800px;
  margin-bottom:40px;
  float:left;
 
}
.paginate {
  display:block;
  float:left;
  width:20%; 
  padding:10px ;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  
}

.paginate.older {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  margin: 20px 40px 0 210px;
 
}

.paginate.newer {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  margin: 20px 0 0 0;

}

span.paginate {
  color: #bfbfbf;
}

a.paginate:hover {
  background-color: #137291;
  text-decoration: none;
  color:white;
  border-color: #137291;
}



/* xs */
@media (min-width: 0px) and (max-width: 767px) {
  .main-sidebar {
    position: inherit;
    margin: 20px;
    width: 100%;
  }

  .main-sidebar-hr {
    margin: 20px 20px 20px 0;
  }

  .main-container {
    margin: 40px 0 0 20px;
  }
  
  .paginate.older {
    margin: 0 10px 0 40px;
  }
  
  .paginate.newer {
    margin: 0px;
  }
  
  .paginate {
    width:40%; 
    padding:20px ;
  }
  
  .browser-address {
    width:74%;
    height: 10px;
    border-radius: 2px;
  }

  .browser-button-wrapper {
    padding-top: 0;
  }

  .browser-button {
    height: 8px;
    width: 8px;
  }

  .hidden-xs {
    display: none;
  }

  .visible-xs {
    display: block;
  }

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .browser-address {
    width:83%;
  }

  .visible-xs {
    display:none;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .browser-address {
    width:89%;
  }

  .visible-xs {
    display:none;
  }
}

/* lg */
@media (min-width: 1200px) {
  .browser-address {
    width:91%;
  }

  .visible-xs {
    display:none;
  }
}
