<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="Kaeti Hinck, design, journalism, digital, media, news applications, minnpost">
  <title>
    {% if page.title == "Home" %}
      Kaeti Hinck | Design & Journalism
    {% else if %}
      {{ page.title }} &middot; Kaeti Hinck
    {% endif %}
  </title>

  <meta property="og:title" content="Kaeti Hinck"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://kaet.io/"/>
  <meta property="og:site_name" content="Kaeti Hinck"/>
  <meta property="og:image" content="{{ site.url }}/images/kaetihinckprofile.jpeg/"/>
  
  <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
  <link rel="shortcut icon" type="image/png" href="http://kaet.io/favicon.ico"/>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:300|Open+Sans:400,300,600,700|Roboto+Slab:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
  
</head>
<body>
  <div class="main-sidebar">
    <p><a href="/"><img class="profile-pic" src="https://pbs.twimg.com/profile_images/468897273754042368/8XUOn_hS_400x400.jpeg" /></a></p>
    <h1><a href="/" class="site-name">Kaeti Hinck</a></h1>
    <p class="subtitle">Design & Journalism</p><p class="subtitle">Making things better.</p>
	<p class="byline">I like you.</a></p>
    <hr class="main-sidebar-hr">

    {% include navigation.html %}

    <hr class="main-sidebar-hr">
  </div>
  <div class="main-container">
    {{ content }}
  </div>
  {% include analytics.html %}
</body>
</html>
